extends layout

block content
  .container-fluid.p-5
    div.alert.alert-danger#flightSearchAlertDanger(role="alert", style="display: none;")
    div.alert.alert-info#flightSearchAlertInfo(role="alert", style="display: none;")
    div.alert.alert-success#flightSearchAlertSuccess(role="alert", style="display: none;")
    h1 Airsys
    p Welcome to Airsys - An Airline Reservation System
    form#booking(onsubmit="return false")
      .form-group
        label(for="from") From
        select.form-control#from(name="takeoffCity")
          each city in cities
            option= city
      .form-group
        label(for="to") To
        select.form-control#to(name="destinationCity")
          each city in cities
            option= city
      .form-group
        label(for="date") Date
        input.form-control#date(name="takeoffDate", type="date")
      button.btn.btn-primary(onclick="findFlights()") Find Flights
  script.
    function findFlights() {
      
      let takeoffCity = document.getElementById("from").value
      let destinationCity = document.getElementById("to").value
      let takeoffDate = document.getElementById("date").value

      const url = `/flights/search?from=${takeoffCity}&to=${destinationCity}&date=${takeoffDate}`

      fetch(url)
      .then(res => res.json())
      .then(data => {
        if('error' in data) {
          // If the return message has the key 'error' in it that means there was an error
          document.getElementById('flightSearchAlertDanger').innerHTML = data.error
          $('#flightSearchAlertDanger').show();
        }
        else if('message' in data) {
          document.getElementById('flightSearchAlertInfo').innerHTML = data.message
          $('#flightSearchAlertInfo').show();
        }
        else {
          document.getElementById('flightSearchAlertSuccess').innerHTML = data[0]['takeoff_city']
          $('#flightSearchAlertSuccess').show();
        }
        
      })
    }

    