extends layout

block content
  .container-fluid.p-5
    h1 Airsys
    p Welcome to Airsys - An Airline Reservation System
    form#booking(onsubmit="return false")
      .form-group
        label(for="from") From
        select.form-control#from(name="takeoffCity")
          each city in cities
            option= city
      .form-group
        label(for="to") To
        select.form-control#to(name="destinationCity")
          each city in cities
            option= city
      .form-group
        label(for="date") Date
        input.form-control#date(name="takeoffDate", type="date")
      button.btn.btn-primary(onclick="findFlights()") Find Flights
  script.
    function findFlights() {
      
      let takeoffCity = document.getElementById("from").value
      let destinationCity = document.getElementById("to").value
      let takeoffDate = document.getElementById("date").value

      const url = `/flights/search?from=${takeoffCity}&to=${destinationCity}&date=${takeoffDate}`

      fetch(url)
      .then(res => res.json())
      .then(data => {
        //alert(data.duplicate)     // Later do some stuff here.
      })
    }

    